{% load static %}

<!-- google charts js   -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- light wt chart  -->
<script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<!-- jQuery JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Tether JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<!-- jQuery-confirm JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!-- Toast js -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bs4-toast@1/dist/toast.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!--select2  -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Django Secure AJAX JS -->
<script src="{% static 'js/csrf_ajax.js' %}"></script>

<!-- Datatables js -->
<script src="https://cdn.jsdelivr.net/npm/datatables.net@1/js/jquery.dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-bs4@1/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-buttons@1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-buttons@1/js/buttons.html5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-buttons@1/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-buttons@1/js/buttons.colVis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-buttons-bs4@1/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-colreorder@1/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-colreorder-bs4@1/js/colReorder.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-responsive@2/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-responsive-bs4@2/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-scroller@2/js/dataTables.scroller.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-scroller-bs4@2/js/scroller.bootstrap4.min.js"></script>

<!-- spovest js -->
<!--bootstrap 5 minified bundle js source-->
<script src="{% static 'js/spovestjs/vendor/bootstrap.bundle.min.js' %}"></script>
<!--owl carousel-2.3.4 minified js source-->
<script src="{% static 'js/spovestjs/vendor/owl.carousel.min.js' %}"></script>
<!--jquery waypoints minified source-->
<script src="{% static 'js/spovestjs/vendor/jquery.waypoints.min.js' %}"></script>
<!--magnific popup-1.1.0 minified source-->
<script src="{% static 'js/spovestjs/vendor/jquery.magnific-popup.min.js' %}"></script>
<!--counter up-1.0.0 minified js source-->
<script src="{% static 'js/spovestjs/vendor/jquery.counterup.min.js' %}"></script>
<!--jquery nice select minified source-->
<script src="{% static 'js/spovestjs/vendor/jquery.nice-select.min.js' %}"></script>
<!--apexs chart minified js source-->
<script src="{% static 'js/spovestjs/vendor/apexcharts.min.js' %}"></script>
<!--apex chart customization js source-->
<script src="{% static 'js/spovestjs/vendor/apex-customization.js' %}"></script>
<!--wow animation js source-->
<script src="{% static 'js/spovestjs/vendor/wow.min.js' %}"></script>
<!--custom js source-->
<script src="{% static 'js/spovestjs/main.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'js/transaction.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/loan.js' %}"></script>

