{% extends 'base.html' %}
{% load humanize %}

{% block base_head %}
<title>Profile</title>
{% endblock %}

{% block out_content_top %}
    <!-- marquee for cmp --> <!--company_list comes from class CompanyTransactionView defined in market:views.py-->
    {% include 'market/snippets/cmp_marquee.html' with company_list=company_list %} 
{% endblock %}

{% block content %}
{% for upcomingmatch in upcomingmatches %}
<center>Upcoming matches: <p><a href="/market/upcomingmatchplayers">{{ upcomingmatch.home_team }} vs {{ upcomingmatch.away_team}}</a></p></center>
{% endfor %}
<p><center><a href="/market/allplayers">All listed stocks</a></center></p>
<div class="row">
    <div class="col-12 mt-3">
    <div class="text-center">
        <h1 class="heading">{{ object.full_name }}</h1>
        <p class="lead">{{ object.username }} | {{ object.email }}</p>
        <h5><b>Cash Available:</b> &#8377; {{ object.cash|intcomma }}</h5>
        (Escrow: &#8377; {{ object.escrow|intcomma }})
        </div>
        <div class="col-12 text-center mb-5">
        <p><h4><b>Net Worth:</b> &#8377; {{ net_worth|intcomma }}</h4></p>
        <!-- <p class="lead">{{ object.email }}</p> -->
    </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12 text-center mt-5 mb-3">
    <h5><b>Cash Available:</b> &#8377; {{ object.cash|intcomma }}</h5>
    <h6><b>Escrow:</b> &#8377; {{ object.escrow|intcomma }}</h6>
    </div>
    <div class="col-12 text-center mb-5">
    <h4><b>Net Worth:</b> &#8377; {{ net_worth|intcomma }}</h4>
    </div>
</div> -->
<!-- <div class="row">
    <h3 class="heading col-12 mb-4">Your holdings:</h3>
</div> -->
{% if investments %}
{% include 'snippets/market_overview_table.html' with object_list=investments %}
{% endif %}

{% include 'snippets/pending_orders.html' with pending_buy=pending_buy pending_sell=pending_sell %}

{% if cancelled %}
{% include 'snippets/cancelled_orders.html' with cancelled=cancelled %}
{% endif %}
<!-- <form method="GET" action="/accounts/searchuser" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" name="query" id="query" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form> -->

{% endblock %}