<div class="modal fade" id="createWatchList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="">
   <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
         <div class="modal-header text-center">
            <h4 class="modal-title w-100" id="myModalLabel">Create Watchlist</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <div id="errors" style="color: red" class="text-center"></div>
              <form method="POST" action="{% url 'market:watchlist' %}" id="createWatchListForm">
                 {% csrf_token %}
                <div class="row text-center">
                     <div class="col">
                        <label>Watchlist Name</label>
                     </div>
                     
                  </div>
                  <div class="row padded-vr">
                     <div class="col-lg-1">
                     </div>
                     <div class="col-lg-10">
                        <input type="text" id="watch_name" name="watch_name" required><br><br>
                     </div>
                  </div>
                   
              </form>
         </div>
         <div class="modal-footer">
                        <button type="submit" class="btn-grn save_watchlist">Save</button>
                  </div>
        
      </div>
   </div>
</div>
{% block css_files %}
<style type="text/css">
   #createWatchList {
    position:fixed;
    bottom:0px;
    right:0px;
    margin:0px;
}


</style>
   
{% endblock %}